source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE ~> 4
nuget SourceLink.Fake
nuget Microsoft.CrmSdk.CoreAssemblies
nuget FSharp.Core
nuget Microsoft.CrmSdk.Deployment >= 8
nuget Microsoft.CrmSdk.XrmTooling.CoreAssembly >= 8
nuget Microsoft.IdentityModel.Clients.ActiveDirectory ~> 2.22.0

github fsharp/FAKE modules/Octokit/Octokit.fsx