source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE ~> 4
nuget SourceLink.Fake
nuget Microsoft.CrmSdk.CoreAssemblies
nuget FSharp.Core

github fsharp/FAKE modules/Octokit/Octokit.fsx