source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Microsoft.CrmSdk.CoreAssemblies = 8.1.0.2

github fsharp/FAKE modules/Octokit/Octokit.fsx